<!--The content below is only a placeholder and can be replaced.-->
<div  class="div-header">
  <h1>
    {{value}}
  </h1>
</div>

<div class="nav-menu">

  <a href="#">HOME</a>
  <a href="#" id="addContactBtn" onclick="onAddContact();return false;">+ ADD</a>
  <img alt="BLOG ICON" class="menu-logo" />
</div>



<div class="body-div">

  <div class="left-div-contacts" id="left-div">
        <div class="contacts-list-item">
          <p>Contact-1 Details</p>
        </div>
        <div class="contacts-list-item">
          <p>Contact-2 Details</p>
        </div>
        <div class="contacts-list-item">
          <p>Contact-3 Details</p>
        </div>
  </div>
  <div class="Add-contact-form">
    <app-contact-form></app-contact-form>
   </div>

  <div class="addressbook-details-display" >

  </div>

  <div class="edit-delete">

  </div>


</div>


